.label {
 font-size: var(--main-font-size);
 color: var(--main-font-color);
 font-weight: var(--bold-font-weight);
 padding-bottom: 0.26rem;
 display: inline-block;
 font-family: var(--font-family);
}

.error {
  font-size: var(--small-font-size);
  padding-top: 0.26rem;
  font-weight: var(--bold-font-weight);
  color: var(--sub-bold-font-color);
  font-family: var(--font-family);
}

.input {
  padding: 0.5rem;

  /* Background button color */
  --main-background-color: var(--bg-color);
  --main-hover-background-color: var(--bg-hover);
  --main-active-background-color: var(--bg-active);

  /* --background-hover-color: rgb(248, 250, 252);
  --background-active-color: rgb(237, 242, 247); */

  /* Outline */
  --main-outline-color: var(--outline-color);
}

/* button */
.input button {
  outline: none;
  border: 1px solid var(--main-background-color);
  cursor: pointer;
  display: block;
  color: var(--main-white-color);
  font-family: var(--font-family);
  font-size: var(--main-font-size);
  font-weight: var(--semibold-font-weight);
  border-radius: var(--border-radius-small);
  padding-left: var(--btn-padding-left);
  padding-right: var(--btn-padding-right);
  padding-top: var(--btn-padding-top);
  padding-bottom: var(--btn-padding-bottom);
  background: var(--main-background-color);
}

.input button:focus {
  outline: 2px solid var(--main-outline-color);
  outline-offset: 2px;
}

.input button:hover {
  background: var(--main-hover-background-color);
  border: 1px solid var(--main-hover-background-color);
}

.input button:active {
  background: var(--main-active-background-color);
}

/* input */
.input input[type=text],
.input input[type=email] {
  box-sizing: border-box;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--main-border-color);
  outline: none;
  padding: 0 0.5rem;
  font-size: var(--main-font-size);
  color: var(--main-font-color);
  font-weight: var(--main-font-weight);
  height: 2.2rem;
  width: 100%;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: var(--font-family);
}

.input input[type=text]:focus,
.input input[type=email]:focus {
  background: #FFFCC8 !important;
  box-shadow: 0 0 0 .25rem #fdd8c1;
  border: 1px solid #e4a57e !important;
}




/* Padding for small buttons */
/* padding-left: .5rem;
padding-right: .5rem; */

/* padding-bottom: .3125rem;
padding-top: .3125rem; */

/* height: 1.5rem;
width: 1.5rem; */